.searchResults {
  background-color: aliceblue;
  margin-top: 50px;
}

thead {
 background-color: blue;
}

th {
  color: aliceblue;
  text-align: center;
}

.header {
  text-align: center;
}

td {
  text-align: center;
  color: rgb(106, 105, 105);
}

td.name {
  background-color: lightblue;
}